 body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      height: 100vh;
      background-color: #f9f9f9;
    }

    nav {
      background-color: #333;
      width: 200px;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }

    a {
      color: white;
      text-decoration: none;
      padding: 12px 20px;
      margin: 5px 10px;
      border-radius: 8px;
      text-align: center;
      background-color: #444;
      transition: all 0.5s;
    }

    a:hover {
      background-color: green;
      /*transform: translate(50px);*/
      /*border-left: 10px solid #333;*/
      /*padding-left: 50px;*/
      margin-left: 30px;
    }

    main {
      flex: 1;
      padding: 40px;
    }