  body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
    }

    .box {
      width: 50px;
      height: 50px;
      background-color: #4CAF50;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      /*transition: background-color 10s, transform 5s;*/
      transition: all 3s;
      /*transition-delay: 2s;*/
      /*transition-timing-function: ease-in;*/
    }

    .box:hover {
      background-color: yellow;
      transform: scale(2) rotate(1000deg);
    }