body {
  margin: 0;
  background: linear-gradient(#66ccff, #004466);
  height: 100vh;
  overflow: hidden;
}

.aquarium {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Rybky */
.fish {
  position: absolute;
  width: 80px;
  height: 40px;
  background: orange;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

/* Bubliny */
.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
