@keyframes pismeno {
  25% {
    color: #d0d0d0;
    transform: translateY(-12px);
  }

  50% {
    transform: translateY(-25px);
    color: #929292;
  }

  75% {
    color: #646464;
     transform: translateY(-37px);
  }

  100% {
    color: #3c3c3c;
    transform: translateY(-50px);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: white;
}

.title span {
  display: inline-block;
  font-size: 4rem;
  margin: 0 5px;
  animation: pismeno 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}