
a[target="_blank"] {
    color: red;
}

a[href="https://www.seznam.cz/"] {
    font-weight: bold;
}

h1 + a {
    font-style: italic;
}

h1 ~ a {
    font-family: 'Courier New', Courier, monospace;
}

/* Pseudotřídy */

a:link {
    background-color: yellow;
}

a:visited {
    background-color: black;
}

a:active {
    background-color: red;
}

a:hover {
    background-color: green;
}

button:hover {
    background-color: blue;
    border: 2px solid yellow;
    color: white;
}

a:first-child {
    font-size: 20px;
}

/* Pseudoelementy */

p::first-line {
    color: red;
}

p::first-letter {
    font-size: 50px;
}

p::before {
    content: ":-)";
}

p::after {
    content: ":-(";
}

/* Content */

ul {
    list-style-type: none;
}
li::before {
    content: "⭐";
}

li:hover::after {
    content: "⭐";
}
li:hover {
        background-color: lightyellow;
}