.container {
  background-color: dodgerblue;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-auto-rows: minmax(50px,1fr);
  gap: 10px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
