.container {
  background-color: dodgerblue;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  /*grid-auto-rows: minmax(100px,1fr);*/
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
