html {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  display: grid;
  gap: 10px;
  /*
  grid-template-areas: 
  'nav nav nav'
  'side ad ad'
  'side main post'
  'side main post'
  'foot foot foot';
  */
  grid-template-columns: repeat(3,1fr);
  
}


nav {
  background-color: #253B4A;
  grid-column: 1/4;
  
}

.ads {
  background-color: #257D92;
  grid-column: 2/4;
}

aside {
  background-color: #FFBC00;
  grid-row: 2/4;
}

main {
  background-color: #FF530D;

}

.posts {
  background-color: #FFBC00;

}

footer {
  background-color: #257D92;
  grid-column: 1/4;
}

/* Initial styles */
body, html {
  height: 100%;
  margin: 0;
  width: 100%;
}

nav, aside, main, footer, .posts, .ads {
  color: #fff;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0;
}