.container {
  background-color: dodgerblue;
  padding: 10px;
  display: grid;
  gap: 10px;
  /*grid-template-columns: 80px auto 30px;*/
  /*grid-template-columns: 1fr 1fr;*/
  grid-template-areas:
  'one one one'
  'two three three'
  'two four four'
  'five five five';
 
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;

}

/*
#one {
    grid-column-start: 1;
    grid-column-end: 4;
}
    */

    /*
#one {
    grid-column: 1/4
}
    */

#one {
    grid-area: one;
}

#t {
    grid-area: two ;
}

#th {
    grid-area: three;
}

#f {
    grid-area: four;
}

#fi {
    grid-area: five ;
}
