header {
    background-color: aqua;
    border: 3px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-align: center;
    top: 0;
    z-index: 1;
}

main {
    background-color: yellow;
    top: 100px;
}

.obrazek img {
    height: 100px;
}

.obrazek {
    width: 100px;
    height: 100px;
}
.obrazek p {
    position: absolute;
    color: white;
    left: 0;
    bottom: 0;
    z-index: 1;
}