/* Basic reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
  background-color: #0077cc; /* main color */
  padding: 10px 0;
  text-align: center;
}

/* Remove list styling */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

/* Style links */
.navbar li {
  background-color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  height: 20px;
  flex-basis: 250px;
}

.navbar a {
  text-decoration: none;
  color: #0077cc;
}

#home {
  align-self: center;
  flex-grow: 2;
}

#service {
  order: -1;
  flex-grow: 2;
}