@keyframes load {
  to {
    background: #222;
    transform: translateY(-25px);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.loader {
  display: flex;
  gap: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}

.dot1 {
  animation: load 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot2 {
  animation: load 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
  animation-direction: alternate;
}

.dot3 {
  animation: load 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-direction: alternate;
}