  /*
  @keyframes barva {
    from {
      background-color: blue;
 
    }
    to {
      background-color: yellow;
      transform: scale(2);
    }
  }
    */

    @keyframes pohybBarva {
      0% {
        background-color: green;
      }
      25% {
        background-color: yellow;
        transform: translate(50px);
      }
      50% {
        background-color: blue;
        transform: translate(50px,50px);
      }
      75% {
        background-color: red;
        transform: translate(-50px,50px);
      }
      100% {
        background-color: violet;
        transform: translate(-50px,-50px);
      }
    }


  body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
    }

    .box {
      width: 50px;
      height: 50px;
      background-color: green;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      animation: pohybBarva 3s;
      animation-direction: alternate;
      animation-iteration-count: 2;
      animation-fill-mode: forwards;
    }

